@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/Styles1.css" rel="stylesheet">

<div class="wrapper">
    <div id="sidebar1" class="aside">
        <h2>Создавай свои тесты</h2>
        <p>
            Используя "Конструктор тестов", вы можете создать свой собственный тест
            и назначить его любому зарегистрированному пользователю.
        </p>
    </div>
    <div id="sidebar2" class="aside">
        <h2>Проходи тесты</h2>
        <p>
            Пройди тесты и узнай, насколько ты эрудирован.
        </p>
    </div>
    <div id="article">
        <h2>Что такое экзаменатор?</h2>
        <p>Это платформа, предназначенная для облегчения тестирования разных людей</p>
    </div>
</div>