@model IEnumerable<IBA.Task3.DAL.Models.Test>

@{
    ViewData["Title"] = "Каталог назначенных тестов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div id="sidebar4" class="aside">
        <div>
            <br /> <h1>Каталог назначенных тестов</h1> <br />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Название теста</label> <br /><br />
                    </th>
                    <th>
                        <label>Колличество попыток</label> <br /><br />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attempts)
                        </td>
                        <td>
                            @Html.ActionLink("Пройти тест", "Update", new { id = item.Id }) 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
