@{
    ViewBag.Title = "Аутентификация";
    Layout = "~/Views/Authentication/_Layout.cshtml";

}

@Html.AntiForgeryToken()

<div id="header">
    <h1>Вход на сайт</h1>
</div>
<div id="loginForm">
    <div>
        <form>
            <div id="card-body">
                <label>Введите логин</label><br />
                <input type="text" id="login" required /> <br /><br />
                <label>Введите пароль</label><br />
                <input type="password" id="password" required /><br /><br />
                <div id="card-body">
                    <input type="submit" id="submitLogin" value="Логин" /><br /><br />
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/Login.js"></script>


