<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot1/styles/styles.scss" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        <p>2021 © IBA Task 3</p>
    </div>
</body>
</html>