@{
    ViewData["Title"] = "Регистрация";
    Layout = "~/Views/Registration/_Layout.cshtml";
}

<div id="return" style="display:none;">
    <h1>Регистрация прошла успешно</h1>
    <input type="button" value="Вернуться на главную страницу" id="regOut" />
</div>
<div id="loginForm">
    <div id="header">
        <h1>Регистрация</h1>
    </div>
    <div id="card-body">
        <div>
            <label>Фамилия:</label><br />
            <input type="text" id="lastname" required /> <br /><br />
        </div>
        <div>
            <label>Имя:</label><br />
            <input type="text" id="firstname" required /> <br /><br />
        </div>
        <div>
            <label>Отчество:</label><br />
            <input type="text" id="surname" required /> <br /><br />
        </div>
        <div>
            <label>Логин:</label><br />
            <input type="text" id="login" required /> <br /><br />
        </div>
        <div>
            <label>Пароль:</label><br />
            <input type="password" id="password" required /><br /><br />
        </div>
        <div>
            <label>Введите пароль ещё раз:</label><br />
            <input type="password" id="passwordConfirm" required /><br /><br />
        </div>
        <div id="card-body">
            <input type="submit" id="submitRegist" value="Зарегестрироваться" /><br /><br />
        </div>
    </div>
</div>

<script src="~/Scripts/Registration.js"></script>

