

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Styles1.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header" name="header">
        <h1>Экзаменатор</h1>
        <p>Вы вошли как: <span id="userName"></span></p>
        <input type="button" value="Выйти" id="RegOut" />
        <nav>
            <ul class="menu" id="nav">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li><a href="#">Мои тесты</a></li>
                <li><a href="#">Пройти тесты</a></li>
                <li><a href="#">Конcтруктов тестов</a></li>
                <li><a href="#">Просмотр достижений</a></li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        <p>2021 © IBA Task 3</p>
    </div>

    <script src="~/Scripts/Layout.js"></script>

</body>
